@model LoansProject.ViewModels.AmortizationViewModel


<h1>Amortization Page</h1>

<form asp-action="Test" method="post">

    <input type="type" asp-for="@Model.Loan.amount" value="" />

    <input type="submit" />
</form>



